

.landing-container {
  display: flex;
  height: 100vh;

  .landing-left {
    background-color: blue;
    width: 30vw;
  }

  .landing-right {
    background-color: red;
    display: flex;
    height: 100%;
    width: 70vw;
  }
}