

.basic-form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .basic-form-content {
    display: flex;
    flex-direction: column;

    .button-calculate {
      height: 50px;
      border: none;
      border-radius: 15px;
      background-color: whitesmoke;
      margin-top: 5px;

      &:hover {
        background-color: purple;
      }
    }
  }
}